{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Groups</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Show users</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{{ group.name }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('admin_groups_show', {id: group.id})}}">Show users</a>
                        </td>
                        <td>
                            {% if group.users is empty %}
                                <form action="{{ url('admin_groups_delete', {id: group.id}) }}" method="post">
                                    <input type="submit" value="Delete">
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('admin_groups_new') }}">Add group</a>
    </div>
{% endblock %}