{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="post">
            <select name="userId">
                {% for user in usersNotInGroup %}
                    <option value="{{ user.id }}">{{ user.id }}. {{ user.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add to group">
        </form>
    </div>
{% endblock %}