{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Groups</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Show users</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{{ group.name }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('admin_groups_show', {id: group.id})}}"><span class="glyphicon glyphicon-list-alt"></span></a>
                        </td>
                        <td>
                            <form action="{{ url('admin_groups_delete', {id: group.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this group?');">
                                <button type="submit" class="btn btn-danger btn-xs" {% if group.users is not empty %} disabled title="Group is not empty"{% endif %}>
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('admin_groups_new') }}"><span class="glyphicon glyphicon-plus"></span> Create group</a>
    </div>
{% endblock %}