{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ group.name }}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for user in group.users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                            <form action="{{ url('admin_groups_remove_user', {groupId: group.id, userId: user.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to remove this user from the group?');">
                                <input type="hidden" name="token" value="{{ csrf_token('remove_user') }}" />
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if usersNotInGroup is not empty %}
            <form class="form-adduser input-group" action="{{ url('admin_groups_add_user', {id: group.id}) }}" method="post">
                <select class="custom-select" name="userId">
                    {% for user in usersNotInGroup %}
                        <option value="{{ user.id }}">{{ user.id }}. {{ user.name }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="token" value="{{ csrf_token('add_user') }}" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add to group</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}