{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                            <form action="{{ url('admin_remove_user_from_group', {groupId: groupId, userId: user.id}) }}" method="post">
                                <input type="submit" value="Remove">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if usersNotInGroup is not empty %}
            <form action="{{ url('admin_add_user_to_group', {id: groupId}) }}" method="post">
                <select name="userId">
                    {% for user in usersNotInGroup %}
                        <option value="{{ user.id }}">{{ user.id }}. {{ user.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add to group">
            </form>
        {% endif %}
    </div>
{% endblock %}