{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Users</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                            <form action="{{ url('admin_users_delete', {id: user.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this user?');">
                                <input type="hidden" name="token" value="{{ csrf_token('delete_user') }}" />
                                <button type="submit" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('admin_users_new') }}"><span class="glyphicon glyphicon-plus"></span> Create user</a>
    </div>
{% endblock %}